extends layout

block content
    .container
      .header
       *
       a(href='./') Home          
       *
       a(href='./About') About        
       *
       a(href='./Contact') Contact    
       h2 Frakture (based on RealFaces)
       h4
          a(href='./ArtGallery', role='button') you probably want to click here
       h6
          you might want this tho: 
          a.btn.btn-lg.btn-success(id= 'ArtGalleryPrivate', role='button') Private Room
